[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
cloudinary = "*"
django = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
django-webpack-loader = "*"

[requires]
python_version = "3.10"
