<nav class="w-screen flex items-center justify-between flex-wrap p-6 absolute text-white z-10">
  <a href="{% url 'home' %}" class="hover:opacity-75"><h3 class="text-2xl tracking-wider">Jenny<strong>Erlanger</strong></h3></a>
  <div class="font-light text-lg tracking-wider flex">
    <h3><a href="{% url 'poems' %}" class="hover:opacity-75">Poems</a></h3>
    <h3><a href="{% url 'about' %}" class="ml-4 md:ml-6 hover:opacity-75">About</a></h3>
    <h3><a href="{% url 'contact' %}" class="ml-4 md:ml-6 hover:opacity-75">Contact</a></h3>
  </div>
</nav>