{% extends "base.html" %}

{% block content %}
  
  <div class="container navbar-margin px-6 mx-auto pb-16">
    <div class="pt-10 w-full xl:w-3/4 mx-auto mb-8">
      <h1 class="text-indigo-600 uppercase pb-4 font-bold tracking-wider">Contact</h1>
      <p class="mb-4">If you’d like to collaborate on a project, commission a poem, or just chat about your experiences, I’d love to hear from you.</p>
      <p class="mb-4">Feel free to reach out at:</p>
      <a class="text-indigo-600 hover:opacity-75" href="mailto:jennyerlanger@optusnet.com.au">jennyerlanger@optusnet.com.au</a>
    </div>
  </div>

{% endblock content %}