{% extends "base.html" %}
{% load cloudinary %}
{% load template_tags %}

{% block content %}

  <div class="container navbar-margin px-6 mx-auto">
    <div class="w-full mx-auto pt-10 xl:w-3/4 mb-8 text-center">
      <h1 class="text-indigo-600 text-3xl uppercase pt-10 pb-4 font-bold tracking-wider">{{ object.title }}</h1>
      <p class="text-sm mb-4">{{ object.publishing_date }}</p>  
    </div>

    <div class="w-full xl:w-3/4 mx-auto">
      <img class="rounded object-cover mx-auto h-64 max-w-md w-full" src="{% cloudinary_url object.image %}" >
    </div>
    
    <div class="w-full xl:w-3/4 mx-auto mt-10 mb-12 text-center text-lg">
      <p>{{ object.body|linebreaks|add_spaces|safe }}</p>
      <div class="mt-10">
        <a class="text-indigo-600 hover:opacity-75" href="{% url 'poems' %}">View all poems ⟶</a>
      </div>
    </div>

    
  </div>

{% endblock content %}