@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #333333;
}

h1,
h2,
h3 {
  font-family: 'Quattrocento', serif;
}

.fix-height {
  min-height: calc(100vh - 148px);
}

.navbar-margin {
  margin-top: 84px;
}