{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>Jenny Erlanger | Australian Children's Poet</title>

  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Quattrocento:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'images/meta_favicon.png' type='image/png' %}">
</head>

<body>
  {% include "partials/_navbar.html" %}
  
  <div class="fix-height">
    {% block content %}
    {% endblock content %}
  </div>

  {% include 'partials/_footer.html' %}

  <script defer src="{% static 'js/navbar.js' %}"></script>
</body>

</html>